.Frame710 {
    /* Frame 710 */
    position: absolute;
    background: rgba(54, 95, 75, 0.15);
}
/* 关于我们 */
.F71001 {
    width: 1361px;
    height: 1162px;
    left: 105px;
    top: 308px;
}

.F71002 {
    width: 2198px;
    height: 1162px;
    left: 1557px;
    top: 308px;
}

.F71003 {
    width: 3646px;
    height: 512px;
    left: 109px;
    top: 1560px;
}
/* 典型项目 */
.F71004 {
    width: 779px;
    height: 1084px;
    left: 105px;
    top: 308px;
}
.F71005 {
    width: 1993px;
    height: 1084px;
    left: 932px;
    top: 308px;
}
.F71006 {
    width: 779px;
    height: 1084px;
    left: 2973px;
    top: 308px;
}
.F71007 {
    width: 3636px;
    height: 626px;
    left: 109px;
    top: 1446px;
}


.F71003 {
    width: 3646px;
    height: 512px;
    left: 109px;
    top: 1560px
}

.F1103501 {
    width: 1197px;
    height: 478px;
    left: 76px;
    top: 74px;
    background-size: 100% 100%;
}

.F1103502 {
    position: absolute;
    width: 1137px;
    height: 452px;
    left: 76px;
    right: 102px;
    top: 625px;
}

.F1103505 {
    width: 625px;
    height: 892px;
    left: 107px;
    top: 165px;
}

.F1103504 {
    left: 3319px;
    top: 103px;
    width: 240px;
    height: 328px;
}

.F1103503 {
    left: 2955px;
    top: 103px;
    width: 240px;
    height: 328px;
}

.F1103506 {
    width: 569px;
    height: 284px;
    left: 854px;
    top: 165px;
}

.F1103507 {
    width: 429px;
    height: 360px;
    left: 854px;
    top: 655px;
}

.F1103508 {
    width: 535px;
    height: 535px;
    left: 1570px;
    top: 165px;
}

.F1103509 {
    width: 429px;
    height: 132px;
    left: 1569px;
    top: 891px;
}


.Vector8 {
    /* Vector 8 */
    position: absolute;
    width: 432.32px;
    height: 69px;
    background: url("~@/assets/image/group962.svg");
}

.Frame10801 {
    /* Frame 10801 */
    position: absolute;
    width: 431.42px;
    height: 272.22px;
    background: rgba(0, 204, 203, 0.2);
    border: 1.07667px solid #00CCCB;
    bottom: 0px;
}

.F10808{
    /* Frame 10808 */
    width: 435.07px;
    height: 350px;
}

.ttf1 {
    position: absolute;
    text-align: left;
    font-family: 'HarmonyOS_Sans_SC_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 26.7361px;
    line-height: 67px;
    /* or 250% */
    color: #FFFFFF;
}
.ttf4 {
    position: absolute;
    font-family: 'HarmonyOS_Sans_SC_Regular';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 36.4583px;
    line-height: 67px;
    /* or 250% */
    color: #FFFFFF;
}

.ttf1001 {
    left: 11.55%;
    top: 12.95%;
}

.ttf1002 {
    left: 5%;
    top: 12.95%;
}

.ttf1003 {
    left: 64px;
    top: 283px;
    font-size: 28px;
}

.ttf1004 {
    left: 47px;
    top: 283px;
    font-size: 28px;
}

.Frame11035 {
    /* Frame 11035 */
    position: absolute;
}

.ttf2 {
    position: absolute;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 160.7%;
    /* or 56px */
    color: #4EEDFF;
}

.ttf201 {
    left: 107px;
    top: 75px;
}

.ttf202 {
    left: 854px;
    top: 75px;
}

.ttf203 {
    left: 854px;
    top: 565px;
}

.ttf204 {
    left: 1569px;
    top: 75px;
}

.ttf205 {
    left: 1569px;
    top: 801px;
}

.Rectangle1431 {
    /* Rectangle 1431 */
    width: 15px;
    height: 15px;
    background: #4EEDFF;
    /* Inside auto layout */
    /* flex: none;
order: 0;
flex-grow: 0; */
}

li::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #4EEDFF;
    vertical-align: middle;
    margin-top: 20px;
    position: absolute;
    left: 0;

    /* Rectangle 1431 */
    /* Inside auto layout */
    /* flex: none;
order: 0;
flex-grow: 0; */
}

li {
    list-style: none;
    position: relative;
    padding-left: 37px;
}

li.L01 {
    margin-bottom: 20px;
    padding-left: 46px;
}

li.L02 {
    margin-top: 0px;
    margin-bottom: 20px;

    display:-webkit-box;
    overflow: hidden; /*超出隐藏*/
    text-overflow: ellipsis;/*隐藏后添加省略号*/
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:2; /*想显示多少行*/
}


.ttf3 {
    position: absolute;
    font-family: 'HarmonyOS_Sans_SC_Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 200%;
    /* or 56px */
    text-align: left;
    color: #FFFFFF;
}

.ttf301 {
    left: 0px;
    right: 0px;
    top: 0px;
    cursor: pointer;

}

.ttf302 {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
        
    display:-webkit-box;
    overflow: hidden; /*超出隐藏*/
    text-overflow: ellipsis;/*隐藏后添加省略号*/
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:7; /*想显示多少行*/
}
.ttf303{
    text-indent:56px;
    width: 639px;
    text-align:justify;
}
/* 典型项目 */
.ttf7 {
    position: absolute;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    /* or 56px */
    color: #4EEDFF;
}
.ttf701{
    /* 工程概况 */
    left: 68.52px;
    top: 50px;
}
.ttf702{
    /* 项目风采 */
    left: 77.52px;
    top: 50px;
}
.Rectangle67101{
    /* Rectangle 671 */
    position: absolute;
    width: 179px;
    height: 6px;
    left: 68.79px;
    top: 115px;

    background: #4EEDFF;
}
.Rectangle67102{
    /* Rectangle 671 */
    position: absolute;
    width: 179px;
    height: 6px;
    left: 77.79px;
    top: 115px;

    background: #4EEDFF;
}
.gcgk01{
    position: absolute;
    width: 672px;
    height: 727px;
    left: 68px;
    top: 202px;
}
.ttf8 {
    position: absolute;
    text-align: left;
    font-family: 'HarmonyOS_Sans_SC_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 160.7%;
    /* identical to box height, or 45px */
    
    color: #4EEDFF;
}
.ttf801{
    /* 项目时间 */
    position: absolute;
    left: 0px;
    top: 496px;
}
.ttf802{
    /* 项目时间 */
    position: absolute;
    left: 0px;
    top: 589px;
}
.ttf803{
    /* 项目时间 */
    position: absolute;
    left: 0px;
    top: 682px;
}
.W{
    color: #FFFFFF;
}
.F11086{
    /* Frame 11086 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;

    position: absolute;
    width: 611px;
    height: 45px;
    left: 1330px;
    top: 63px;
}
.F10657{
    /* Frame 10657 */
    width: 131px;
    height: 45px;
    background: rgba(49, 204, 236, 0.24);
    border-radius: 6px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.ttf9 {
    position: relative;
    top: 8.46px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 23.9752px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}
.B{
    background: #31CCEC;
}
.xml{
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
}
.ttf10 {
    margin-top: 511px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 160.7%;
    /* identical to box height, or 45px */
    color: #FFFFFF;
    bottom: 0px;

}
.swiper01 {
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    /* bottom: 35px; */
  }
.swiper02 {
    position: absolute;
    top: 40px;
    left: 50px;
    right: 49px;
    bottom: 52px;
  }
.swiper-slide01 {
    height: 470px;
    width: 845px;
    background-size: 100% 100%;
    cursor: pointer;
}
.swiper-slide02 {
    width: 680px;
    height: 300px;
    background-size: 100% 100%;
    cursor: pointer;
}

/*去掉默认样式*/
.swiper-button-prev:after{
    display: none;
}
.swiper-button-next:after{
    display: none;
}
/*自定义样式*/
.swiper-button-prev{
    width: 46px;
    height: 32px;
    background: url('~@/assets/image/left-arrow.svg');
    left: 37px;
    top: 269x;
    background-size: 100% 100%;
}
 
.swiper-button-next{
    width: 46px;
    height: 32px;
    background:url('~@/assets/image/right-arrow.svg');
    right: 35px;
    top: 269px;
    background-size: 100% 100%;
}
.outSwiperBox{
    position: relative;
    /* padding: 0px 60px 0px 58px;
    left: 37px;
    right: 35px; */
}
.inSwiperBox{
    position: inherit;
    height: 556px;
    width: 3446px;
}
.BB{
    border: 8px solid #31CCEC;
}
.F11084{
    position: absolute;
    width: 1863px;
    height: 871px;
    left: 78px;
    top: 160px;
}
.F1108401{
    width: 1863px;
    height: 871px;
    border:0px;
}
/* .F1108402{
    width: 1863px;
    height: 871px;
} */