.Frame710 {
    /* Frame 710 */
    position: absolute;
    background: rgba(54, 95, 75, 0.15);
}

.F71001 {
    width: 1361px;
    height: 1162px;
    left: 105px;
    top: 308px
}

.F71002 {
    width: 2198px;
    height: 1162px;
    left: 1557px;
    top: 308px
}

.F71003 {
    width: 3646px;
    height: 512px;
    left: 109px;
    top: 1560px
}

.F1103501 {
    width: 1197px;
    height: 478px;
    left: 76px;
    top: 74px;
    background-size: 100% 100%;
}

.F1103502 {
    position: absolute;
    height: 452px;
    left: 76px;
    right: 102px;
    top: 625px;
}

.F1103505 {
    width: 625px;
    height: 892px;
    left: 107px;
    top: 165px;
}

.F1103504 {
    left: 3319px;
    top: 103px;
    width: 240px;
    height: 328px;
}

.F1103503 {
    left: 2955px;
    top: 103px;
    width: 240px;
    height: 328px;
}

.F1103506 {
    width: 569px;
    height: 284px;
    left: 854px;
    top: 165px;
}

.F1103507 {
    width: 429px;
    height: 360px;
    left: 854px;
    top: 655px;
}

.F1103508 {
    width: 535px;
    height: 535px;
    left: 1570px;
    top: 165px;
}

.F1103509 {
    width: 429px;
    height: 132px;
    left: 1569px;
    top: 891px;
}


.Vector8 {
    /* Vector 8 */
    position: absolute;
    width: 432.32px;
    height: 69px;
    background: url("~@/assets/image/group962.svg");
}

.Frame10801 {
    /* Frame 10801 */
    position: absolute;
    width: 431.42px;
    height: 272.22px;
    background: rgba(0, 204, 203, 0.2);
    border: 1.07667px solid #00CCCB;
}

.F1080101 {
    left: 68.43px;
    top: 158.78px;
}

.F1080102 {
    left: 528.43px;
    top: 158.78px;
}

.F1080103 {
    left: 988.43px;
    top: 158.78px;
}

.F1080104 {
    left: 1448.43px;
    top: 158.78px;
}

.F1080105 {
    left: 1908.43px;
    top: 158.78px;
}

.F1080106 {
    left: 2368.43px;
    top: 158.78px;
}

.ttf1 {
    position: absolute;
    text-align: left;
    font-family: 'HarmonyOS_Sans_SC_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 26.7361px;
    line-height: 67px;
    /* or 250% */
    color: #FFFFFF;
}

.ttf101 {
    left: 67.22px;
    top: 82.22px;
    text-align: center;
    font-weight: 400;
    font-size: 36.4583px;
}

.ttf102 {
    left: 527.22px;
    top: 82.22px;
    text-align: center;
    font-weight: 400;
    font-size: 36.4583px;
}

.ttf103 {
    left: 987.22px;
    top: 82.22px;
    text-align: center;
    font-weight: 400;
    font-size: 36.4583px;
}

.ttf104 {
    left: 1447.22px;
    top: 82.22px;
    text-align: center;
    font-weight: 400;
    font-size: 36.4583px;
}

.ttf105 {
    left: 1907.22px;
    top: 82.22px;
    text-align: center;
    font-weight: 400;
    font-size: 36.4583px;
}

.ttf106 {
    left: 2367.22px;
    top: 82.22px;
    text-align: center;
    font-weight: 400;
    font-size: 36.4583px;
}

.ttf1001 {
    left: 11.55%;
    top: 12.95%;
}

.ttf1002 {
    left: 5%;
    top: 12.95%;
}

.ttf1003 {
    left: 64px;
    top: 283px;
    font-size: 28px;
}

.ttf1004 {
    left: 47px;
    top: 283px;
    font-size: 28px;
}

.Frame11035 {
    /* Frame 11035 */
    position: absolute;
}

.ttf2 {
    position: absolute;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 160.7%;
    /* or 56px */
    color: #4EEDFF;
}

.ttf201 {
    left: 107px;
    top: 75px;
}

.ttf202 {
    left: 854px;
    top: 75px;
}

.ttf203 {
    left: 854px;
    top: 565px;
}

.ttf204 {
    left: 1569px;
    top: 75px;
}

.ttf205 {
    left: 1569px;
    top: 801px;
}

.Rectangle1431 {
    /* Rectangle 1431 */
    width: 15px;
    height: 15px;
    background: #4EEDFF;
    /* Inside auto layout */
    /* flex: none;
order: 0;
flex-grow: 0; */
}

li::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #4EEDFF;
    vertical-align: middle;
    margin-top: 20px;
    position: absolute;
    left: 0;

    /* Rectangle 1431 */
    /* Inside auto layout */
    /* flex: none;
order: 0;
flex-grow: 0; */
}

li {
    list-style: none;
    position: relative;
    padding-left: 37px;
}

li.L01 {
    margin-bottom: 20px;
    padding-left: 46px;
}

li.L02 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.ttf3 {
    position: absolute;
    font-family: 'HarmonyOS_Sans_SC_Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 200%;
    /* or 56px */
    text-align: justify;
    color: #FFFFFF;
}

.ttf301 {
    height: 892px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.ttf302 {
    height: 284px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.ttf303 {
    height: 360px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.ttf304 {
    height: 360px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.ttf305 {
    height: 132px;
    left: 0px;
    right: 0px;
    top: 0px;
}